
:root {
    --color-one: #e2e8f0;
    --color-two: #23c28c;
    --color-three: #2083b1;
    --color-four: #070013;
    --color-five: white;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-four);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.container .clickable {
    font-size: 1.6rem;
}

.clickable {
    font-weight: 300;
    transition: transform .2s;
    cursor: pointer;
    color: var(--color-three);
}

.clickable:hover {
    transform: scale(1.1);
    opacity: 75%;
}

.clickable i {
    font-size: 1.2rem;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

input[type="search"] {
    background-color: var(--color-one);
    border: none;
    padding: 7.5px 100px;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: left;

}

.button {
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 35px;
    background: var(--color-three);
    color: var(--color-five);
    border-radius: 25px;
    transition: transform 0.2s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    opacity: 75%;
}

.bold {
    font-weight: 700;
}

.bold-not-so {
    font-weight: 550;
}

.font-small {
    font-size: 1rem;
}

/* Sidebar Area */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    background-color: var(--color-three);
    color: var(--color-five);
}

.sidebar .clickable {
    color: var(--color-five);
    font-weight: 500;
}

.dashboard-1 h1 {
    font-size: 1.6rem;
}

.sidebar p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.dashboard-1,
.dashboard-2,
.dashboard-3 {
    margin: 15px;
    position: sticky;

}

.layout {
    display: flex;
}

.layout p {
    margin-left: 10px;
}

/* Header */

.header {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.header i {
    font-size: 1.5rem;
}

.header .clickable {
    color: var(--color-four);
}

.header .clickable:hover {
    color: var(--color-three);
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1 .area-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
}

.header-1 .area-1 input {
    margin: 15px;
}

.header-1 .area-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
}

.header-1 .area-2 img {
    margin: 0 10px;
}

.header-1 .area-2 p {
    margin: 0 5px;
}

.header-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
}

.header-2 img {
    width: 45px;
    height: 45px;
}

.header-2 .area-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.header-1,
.header-2 {
    margin: 15px 35px;
}

/* main content */

.main-content {
    grid-column: 2 / 3;
    background-color: var(--color-one);
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    position: relative;
}

.main-content-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin: 50px 35px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    position: relative;
}

.main-content-1-text::before {
    content: "Your Projects";
    position: absolute;
    font-weight: 700;
    top: 15px;
    left: 35px;
    color: var(--color-four);
    
}

.main-content-2 {
    margin: 50px 35px;
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-content-2::before {
    content: "Announcements";
    position: absolute;
    font-weight: 700;
    color: var(--color-four);
    top: -35px;
}

/* .main-content-2 .area-1,
.main-content-2 .area-2,
.main-content-2 .area-3 */

.main-content-2 .area-1,
.main-content-2 .area-2 {
    margin-bottom: 40px;
}

.main-content-2 .area-1::after,
.main-content-2 .area-2::after {
    content: "";
    position: absolute;
    background: var(--color-four);
    width: 85%;
    height: 1px;
    margin: 20px 0;
    opacity: 0.25;
}

.main-content-3 {
    margin: 50px 35px;
    margin-left: 0;
    position: relative;
}

.main-content-3-text::before {
    content: "Trending";
    position: absolute;
    font-weight: 700;
    top: -35px;
    color: var(--color-four);
}

.main-content-3 .card {
    padding: 30px 20px;
}

.main-content-3 img {
    height: 50px;
    width: 50px;
}

.main-content .layout {
    font-size: 1.3rem;
    margin: 15px 0;
}

/* card styles */

.card {
    background-color: var(--color-five);
    font-size: 1rem;
    padding: 45px 35px;
    border-radius: 10px;
    box-shadow: 6px 6px 8px -3px rgba(0,0,0,0.43);
    -webkit-box-shadow: 6px 6px 8px -3px rgba(0,0,0,0.43);
    -moz-box-shadow: 6px 6px 8px -3px rgba(0,0,0,0.43);
    grid-template-rows: 25px 1fr 25px;
    transition: transform 0.2s;
}

.card h4 {
    font-size: 1.3rem;
}

.card-main {
    display: grid;
    gap: 15px;
}

.card-main:hover {
    transform: scale(0.95);
}

.card-links {
    display: flex;
    justify-self: end;
}

.card-links i {
    margin-left: 25px;
    font-size: 1.6rem;
}
